# --- Core Flask stack
Flask==3.0.3
Werkzeug==3.0.3
itsdangerous==2.2.0
click==8.1.7
blinker==1.9.0

# --- Database
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.43
# psycopg2-binary==2.9.9  # only if you switch to Postgres later

# --- Auth/Mail/Env
Flask-Login==0.6.3
Flask-Mail==0.10.0
email-validator==2.3.0
python-dotenv==1.0.1

# --- Realtime (SocketIO)
Flask-SocketIO==5.3.6


# --- Server
gunicorn==22.0.0

# --- Helpers
pydantic==2.8.2
tenacity==9.1.2
requests==2.32.5
httpx==0.27.2

# --- Background jobs (optional)
redis==5.0.8
rq==1.16.2

# --- Browser automation
playwright==1.55.0